<div class="container about" id="about">
    <h1>About Us</h1>
    <p>Grow your business with us</p>

    <div class="about-main">
        <div class="about-left">
            <img src="images/img2.jpg" alt="">
        </div>
        <div class="about-right">
            <h1>we are the professional Developers🤓💻</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, repellat saepe! Ut tempore voluptatibus
                facere magnam assumenda harum cumque delectus eum doloremque at! Qui vitae veritatis quam eius quaerat
                provident officiis consequuntur quibusdam, ipsa doloremque nobis dolorem ipsam aspernatur? Cupiditate
            </p>
            <button class="btn order-1-btn">Read More</button>
        </div>
    </div>

</div>