<div class="container services" id="services">
    <h1>Services</h1>
    <p>Grow your business with us</p>

    <div class="services-main">
        <div class="services-row" id="row1">
            <div class="card" style="width: 18rem;">
                <img src="images/ser1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="Settings">Settings</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/ser2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Speed</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/ser3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Privacy</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="services-row" id="row2">
            <div class="card" style="width: 18rem;">
                <img src="images/ser4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Backups</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/ser5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SSL Secured</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/ser6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Database</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>